.Container-home-header{
  
    background-color: var(--red);
    
    width: 100%;
    height:40rem;
    display: flex;
    flex-direction: column;
 

}

.paper{
background-image: url('../assets/upgrade.jpg');
background-repeat: no-repeat;
background-size: 240%;
background-position-x: 46%;
    width:30rem;
    height:40rem;
    margin: auto; 
}
.paper-flex{   display: flex;}
.Container-home-header h1{
    background-color: var(--red);
    color: var(--yellow);
    font-family: 'Rubik Iso', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: 16rem;
    
}

    
    
    
.triangle{
    
    width:15rem;
    height:15rem;
    border-top: 10px solid transparent;
    border-left: 10px solid  var(--red);
    border-right: 10px solid transparent;
    border-bottom: 10px solid  var(--red);
    border-width:120px;
    margin-top: 14.2%;
}
#right{
    width:15rem;
    height:15rem;
    border-top: 10px solid  transparent;
    border-left: 10px solid  transparent;
    border-right: 10px solid var(--red);
    border-bottom: 10px solid   var(--red);
    border-width:120px;
  
}
/*rows-container*/
.Container-home-rows{
  
    background: linear-gradient(0deg, rgba(5,8,8,1) 85%, var(--red) 100%);
    
    min-width: 480px;
    height:20rem;
   
}
.row-container{
background-color: var(--black);    
max-width: 80rem;    
    height:22rem;
    margin: auto;
    margin-bottom: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;

}
.row-container::-webkit-scrollbar{
    display: none;
}
.row-container h1{
    font-family: 'Asap', sans-serif;
    font-size: 30px;
    color: var(--yellow);
    
}
.row{
    margin-top: 8px;
    min-width: 200px;
    height: 310px;
    background-color: blue;
    
}
.row-flex{
    display: flex;
    gap: 1rem;
}
.test{
    width: 100%;
    height: 100%;
}