*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  body{
    background-color: var(--black); 
  
  }
  :root {
    --dark-red: #2B0005;
    --red: #7B0B29;
    --black: #050808;
    --gray: #2a2c2c;
  
    --red100:#B4163C;
  
    --yellow:#ffdb5b;
  
  }
  
  
